<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值需要设置为和dao层的类相对应 -->
<mapper namespace="com.netty.dao.FriendDao">
	<resultMap type="com.netty.entity.Friend" id="friendResultMap">
		<result property="user_pk" column="user_pk" />
		<association property="user_number" javaType="com.netty.entity.User">
			<result column="user_number" property="user_number" />
		</association>
		<association property="friend_number" javaType="com.netty.entity.User">
			<result column="user_number" property="user_number" />
		</association>
		<!-- private String friend_pk; private User user; private User friend; -->
	</resultMap>
	<select id="friendList" parameterType="String" resultType="com.netty.entity.Friend">
		select
		* from friend where user_number= #{user_number}
	</select>
</mapper>